@import url('https://fonts.googleapis.com/css?family=Nunito:300text=:');

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: rgb(0, 122, 225);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#currtime {
    font-family: Helvetica Neue, Helvetica, Lucida Grande, sans-serif;
    font-weight: 100;
    display: block;
    text-align: center;
    font-size: 12vw;
}

span {
    display: inline-block;
    font-family: Nunito;
    font-weight: 100;
    font-size: 8vw;
    position: relative;
    top: -2vw;
}

@media all and (max-width: 600px){
    #currtime{
        font-size: 4em;
        padding: 2rem 0;
    }

    span {
        font-size: 2rem;
        top: -1rem;
    }
}

@media all and (max-widtj:350px){
    #currtime {
        font-size: 3rem;
        padding: 2rem 0;
    }

    span {
        font-size: 1rem;
        top: -0.5rem;
    }
}